.wallpaper {
  background: url("../images/stripBackground.jpg") repeat;
  background-size: auto;
  background-blend-mode: screen;
}

#pageTitle {
  padding-left: 17%;
}

#pageTitle span {
  background-color: rgb(215, 249, 250);
  border-radius: 25px;
  padding: 30px;
  font-family: 'Exo 2', sans-serif;
  font-size: 30px;
  color: rgb(0, 0, 0);
}

.bg {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, rgba(242, 243, 243, 0.993) 50%, rgb(111, 240, 208) 50%);
  bottom: 0;
  left: -50%;
  opacity: .2;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}

.bg3 {
  animation-duration: 5s;
}


.banner_section {
  padding-top: 10%;
  width: 100%;
  float: left;
  /* background-image: url(../images/thumnail1.jpg) cross-fade(); */
  height: auto;
  background-size: 100%;
  background-repeat: no-repeat;
}

.banner_taital {
  width: 100%;
  float: left;
  color: #ffffff;
  font-size: 44pt;
  text-align: center;
}

.browse_text {
  width: 100%;
  float: left;
  font-size: 14pt;
  color: #cbcbcb;
  text-align: center;
  padding-bottom: 50px;
  font-weight: 500;
  margin-left: 0px;
}

.banner_bt {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.read_bt {
  width: 20%;
  height: 50px;
  background-color: #69c934;
  color: #ffffff;
  border: 0px;
  font-size: 17pt;
  margin-bottom: 100px;
}



@keyframes slide {
  0% {
    transform: translateX(-25%);
  }

  100% {
    transform: translateX(25%);
  }
}

.year {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #000;
}

.content {
  padding-left: 10%;
  padding-right: 10%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #5e5e5e;
  font-size: 20px;
  /* background-color: bisque; */
  text-align: center;
}

.navbar.navbar-default {
  position: fixed;
  width: 100%;
  top: 0;
}

.nav.navbar-nav {
  font-family: 'Exo 2', sans-serif;
  font-size: 15px;
}